<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blockchain</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="test">
        <h1>Blockchain</h1>
        <p>Blockchain is a distributed database that maintains a continuously-growing list of records called blocks
            secured from tampering and revision.</p>
    </div>
    <div class="transaction">
        <h2>Send Transaction</h2>
        <form id="transactionForm">
            <label for="sender">Sender Private Key:</label>
            <input type="text" id="senderPri" name="senderPri" required><br>

            <label for="sender">Sender Pubic Key:</label>
            <input type="text" id="senderPub" name="senderPub" required><br>

            <label for="receiver">Receiver:</label>
            <input type="text" id="receiver" name="receiver" required><br>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required><br>

            <button type="submit">Send Transaction</button>
        </form>
    </div>
    <div class="connect">
        <h2>Connect with Node</h2>
        <form id="connectForm">
            <label for="targetIp">Target IP:</label>
            <input type="text" id="targetIp" name="targetIp" required><br>
            <label for="targetPort">Target Port:</label>
            <input type="number" id="targetPort" name="targetPort" required><br>
            <button type="submit">Connect</button>
        </form>
    </div>
    <div class="keyGenerator">
        <h2>Generate Key Pair</h2>
        <button id="generateKeyPair">Generate Key Pair</button>
        <div id="privateKeyDisplay"></div>
        <div id="publicKeyDisplay"></div>
    </div>

    <script src="../static/js/handler.js"></script>

</html>