<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <header>
        <h1>Blockchain Interface</h1>
    </header>
    <main>
        <section class="info">
            <h2>What is Blockchain?</h2>
            <p>Blockchain is a decentralized, distributed ledger that records the provenance of a digital asset. It is
                maintained by a network of nodes without the need for a central authority.</p>
            <p>Each block contains a list of transactions, a reference to the previous block, and a proof of work.</p>
            <p>Transactions are signed with a private key and can be verified with the corresponding public key.</p>
            <p>Miners compete to solve a cryptographic puzzle to add a new block to the chain and receive a reward.</p>
            <p>Connect with other nodes to share information and maintain a consistent blockchain across the network.
            </p>
            <p>Use the interface below to interact with the blockchain, generate key pairs, send transactions, connect
                with
                nodes, create a genesis block, request coins from the faucet, check balance, and start mining.</p>
            <hr>
            <h2>Blockchain Information</h2>
            <div id="blockchain-info">
                <button id="update-info">Update Now</button>
                <input type="range" id="updateIntervalSlider" min="1" max="60" step="1" value="30">
                <label for="updateIntervalSlider">Update Interval (seconds): <span
                        id="intervalDisplay">30</span></label>
                <p>Last Updated:<span id="last-update"></span></p>
                <h2>Nodes</h2>
                <ul id="nodes-list"></ul>

                <h2>Blockchain</h2>
                <div id="blocks-container"></div>
            </div>
        </section>
        <section class="actions">
            <div class="card">
                <h2>Generate Key Pair</h2>
                <button id="generateKeyPair">Generate Key Pair</button>
                <div id="privateKeyDisplay"></div>
                <div id="publicKeyDisplay"></div>
            </div>
            <div class="card">
                <h2>Send Transaction</h2>
                <form id="transactionForm">
                    <div>
                        <label for="senderPri">Sender Private Key:</label>
                        <input type="text" id="senderPri" name="senderPri" required>
                    </div>
                    <div>
                        <label for="senderPub">Sender Public Key:</label>
                        <input type="text" id="senderPub" name="senderPub" required>
                    </div>
                    <div>
                        <label for="receiver">Receiver:</label>
                        <input type="text" id="receiver" name="receiver" required>
                    </div>
                    <div>
                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" name="amount" step="any" required>
                    </div>
                    <button type="submit">Send Transaction</button>
                </form>
            </div>
            <div class="card">
                <h2>Connect with Node</h2>
                <form id="connectForm">
                    <div>
                        <label for="targetIp">Target IP:</label>
                        <input type="text" id="targetIp" name="targetIp" required>
                    </div>
                    <div>
                        <label for="targetPort">Target Port:</label>
                        <input type="number" id="targetPort" name="targetPort" required>
                    </div>
                    <button type="submit">Connect</button>
                </form>
            </div>
            <div class="card">
                <h2>Create Genesis Block</h2>
                <button id="createGenesisBlock">Create Genesis Block</button>
            </div>
            <div class="card">
                <h2>Faucet Request</h2>
                <form id="faucetForm">
                    <div>
                        <label for="faucetPublicKey">Public Key:</label>
                        <input type="text" id="faucetPublicKey" name="faucetPublicKey" required>
                    </div>
                    <button type="submit">Request Coins</button>
                </form>
            </div>
            <div class="card">
                <h2>Check Balance</h2>
                <form id="balanceForm">
                    <div>
                        <label for="publicKeyBalance">Public Key:</label>
                        <input type="text" id="publicKeyBalance" name="publicKeyBalance" required>
                    </div>
                    <button type="submit">Check Balance</button>
                </form>
                <div id="balanceDisplay"></div>
            </div>
            <div class="card">
                <h2>Start Mining</h2>
                <form id="miningForm">
                    <div>
                        <label for="minerKeys">Miner Keys:</label>
                        <div id="minerPrivateKeyDisplay"></div>
                        <div id="minerPublicKeyDisplay"></div>
                    </div>
                    <button type="submit">Start Mining</button>
                </form>
            </div>
        </section>
    </main>

    <script src="../static/js/handler.js"></script>
</body>

</html>